.custom__input{
  width: 360px;
  background: #fff;
  color: #333;
  font: inherit;
  font-size: bold;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 16px 18px;
}
