.container{
  width: 100%;
  margin: auto;
  padding: 0 10px;
  margin-top: 30px;
}
.w-e-toolbar{
  display: block;
}
.w-e-toolbar .w-e-menu{
  display: inline-block;
}

.left{
  float: left;
}

.right {
  float: right;
}