* {
  box-sizing: border-box;
}

.container{
  width: 100%;
}

ul {
  list-style:none;
  margin: 0;
  padding:0;
  text-align: left;
}

a {
  text-decoration: none;
}

.page-container {
  overflow: auto;
  height: 740px;
  padding: 10px;
}

.page-container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #655d5d;
}

.page-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f4f4f4;
}

.page-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #655d5d;
}

.left{
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}



.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}
.clearfloat {
  zoom: 1
}