.top-bar{
  height:40px;
  background: #ddd;
  border-radius: 8px;
  line-height: 36px;
  padding: 0 5px 0 20px;
  margin-bottom: 16px;
}


.top-bar-button-right {
  margin-right:10px;
}

.top-bar-button-left {
  margin-left: 10px;
  color: #333;
}

.top-bar .iconfont {
  font-size: 24px;
}

